body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    background-color: rgb(33, 64, 131);
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    
}

ul{
    list-style-type: none;
    display: flex;
    
}

.hlogo{
    display: flex;
    
}

.topinfo{
    display: flex;
    justify-content: center;
}

.quote{
    background-color: antiquewhite;
}

footer{
    background-color: rgb(33, 64, 131);
}