@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

body{
    display: flex;
    margin: 0;
    
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto',sans-serif;
    
}

header{
    padding: 0px 100px;
    background-color: #1f2937;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    color: #e5e7eb;

}

.hlogo{
    display: flex;
    flex:1;
    color: #e7e7e7;
    font-weight: 800;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 8px;
    color:rgb(163, 161, 161);
}

.topinfo{
    padding: 30px 100px;
    min-height: 300px;
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #e5e7eb;
}

.webinfo{
    
    display: flex;
    flex: 1;
    flex-direction: column;
    
}

button{
    border: none;
    padding: 4px 24px;
    color:white;
    background-color: rgb(43, 137, 226);
    border-radius: 4px;
    font-weight: bold;
}

.aangimage{
    display: flex;
    flex: 1;
    min-width: 100px;
}

.picinfo{
    padding: 0px 100px;
    display: flex;
    flex:1;
    justify-content: center;
    flex-direction: column;
    
}

.picheader{
    display: flex;
    height: 100px;

    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
}

.pics{
    display: flex;
    flex:1;
    justify-content: center;
    gap: 100px;
}

.info{
    text-align: center;
    padding-bottom: 32px;
}

.aang{
    border: 2px solid rgb(58, 119, 168);
    flex: auto;
    border-radius: 8px;
    width: 100px;
    height: 100px;
}

.imgtxt{
    color:gray;
    font-size: small;
    width: 100px;
}

.quote{
    display: flex;
    min-height: 400px;
    font-weight: 50;
    font-size: 32px;
    padding: 0px 128px;;
    flex:1;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;

}

.signup{
    display: flex;
    min-height: 100px;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(43, 137, 226);
    padding: 0px 50px;
    margin: 25px 120px;
    border-radius: 8px;
}

footer{
    padding: 0px 32px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: wheat;
}